.macbook-pro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .div {
  background-color: #ffffff;
  border: 1px none;
  height: 982px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.macbook-pro .overlap {
  border: 1px solid;
  border-color: #d0d0d0;
  height: 113px;
  left: -3px;
  position: absolute;
  top: -34px;
  width: 1522px;
}

.macbook-pro .group {
  height: 19px;
  left: 62px;
  position: absolute;
  top: 66px;
  width: 445px;
}

.macbook-pro .text-wrapper {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .FRAGRANCE-BEAUTY {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 262px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .image {
  height: 32px;
  left: 701px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 114px;
}

.macbook-pro .tabler-search {
  height: 24px;
  left: 1430px;
  position: absolute;
  top: 63px;
  width: 24px;
}

.macbook-pro .navbar {
  height: 16px;
  left: 60px;
  position: absolute;
  top: 107px;
  width: 987px;
}

.macbook-pro .text-wrapper-2 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-3 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 122px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-4 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 191px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-5 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 340px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-6 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 480px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .KIDS-BABY {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 551px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-7 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 671px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-8 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 742px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-9 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 881px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .side-view {
  background-color: #f2f2f4;
  border: 2px solid;
  border-color: #000000;
  border-radius: 6px;
  height: 146px;
  left: 60px;
  overflow: hidden;
  position: absolute;
  top: 191px;
  width: 146px;
}

.macbook-pro .img {
  height: 146px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 146px;
}

.macbook-pro .frame {
  background-color: #f2f2f4;
  border-radius: 6px;
  height: 146px;
  left: 60px;
  overflow: hidden;
  position: absolute;
  top: 377px;
  width: 146px;
}

.macbook-pro .image-2 {
  height: 144px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 146px;
}

.macbook-pro .frame-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/54bdc6a0695d6f02a8853c8e4f0ecd46/img/frame-3@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 6px;
  height: 146px;
  left: 60px;
  position: absolute;
  top: 563px;
  width: 146px;
}

.macbook-pro .overlap-group {
  background-image: url(https://generation-sessions.s3.amazonaws.com/54bdc6a0695d6f02a8853c8e4f0ecd46/img/image-6.png);
  background-size: 100% 100%;
  height: 650px;
  left: 266px;
  position: absolute;
  top: 191px;
  width: 653px;
}

.macbook-pro .overlap-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 30px;
  left: 376px;
  overflow: hidden;
  position: absolute;
  top: 586px;
  width: 108px;
}

.macbook-pro .overlap-2 {
  height: 23px;
  position: relative;
  top: 7px;
  width: 97px;
}

.macbook-pro .AR {
  color: #636366;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 36px;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.macbook-pro .vector {
  height: 15px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 29px;
}

.macbook-pro .material-symbols {
  height: 20px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 24px;
}

.macbook-pro .div-wrapper {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 30px;
  left: 169px;
  overflow: hidden;
  position: absolute;
  top: 586px;
  width: 77px;
}

.macbook-pro .text-wrapper-10 {
  color: #636366;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.macbook-pro .image-wrapper {
  background-color: #f2f2f4;
  border-radius: 6px;
  height: 146px;
  left: 60px;
  position: absolute;
  top: 751px;
  width: 146px;
}

.macbook-pro .image-3 {
  height: 131px;
  left: 19px;
  position: absolute;
  top: 7px;
  width: 118px;
}

.macbook-pro .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 150px;
  width: 1512px;
}

.macbook-pro .text-wrapper-11 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 1003px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  white-space: nowrap;
}

.macbook-pro .overlap-3 {
  border-radius: 15px;
  height: 145px;
  left: 1005px;
  position: absolute;
  top: 329px;
  width: 440px;
}

.macbook-pro .frame-3 {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 145px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 440px;
}

.macbook-pro .text-wrapper-12 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 16px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.macbook-pro .frame-4 {
  background-color: #f2f2f4;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 78px;
  left: 16px;
  position: absolute;
  top: 51px;
  width: 77px;
}

.macbook-pro .img-wrapper {
  background-color: #f2f2f4;
  border-radius: 10px;
  height: 78px;
  left: 109px;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 77px;
}

.macbook-pro .image-4 {
  height: 63px;
  left: 12px;
  position: absolute;
  top: 7px;
  width: 53px;
}

.macbook-pro .frame-5 {
  background-color: #f2f2f4;
  border-radius: 10px;
  height: 78px;
  left: 202px;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 77px;
}

.macbook-pro .image-5 {
  height: 69px;
  left: 10px;
  position: absolute;
  top: 6px;
  width: 58px;
}

.macbook-pro .frame-6 {
  background-color: #f2f2f4;
  border-radius: 10px;
  height: 78px;
  left: 295px;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 77px;
}

.macbook-pro .image-6 {
  height: 69px;
  left: 11px;
  position: absolute;
  top: 6px;
  width: 55px;
}

.macbook-pro .image-7 {
  height: 69px;
  left: 22px;
  position: absolute;
  top: 57px;
  width: 65px;
}

.macbook-pro .text-wrapper-13 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 1003px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 269px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-14 {
  color: #ff1313;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 1150px;
  letter-spacing: 0.48px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 273px;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-15 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1003px;
  letter-spacing: 0.96px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 225px;
  white-space: nowrap;
}

.macbook-pro .overlap-group-wrapper {
  height: 19px;
  left: 1076px;
  position: absolute;
  top: 270px;
  width: 59px;
}

.macbook-pro .overlap-group-2 {
  height: 19px;
  position: relative;
  width: 57px;
}

.macbook-pro .line-2 {
  height: 1px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 55px;
}

.macbook-pro .frame-7 {
  background-color: #000000;
  border-radius: 30px;
  height: 60px;
  left: 1005px;
  overflow: hidden;
  position: absolute;
  top: 514px;
  width: 364px;
}

.macbook-pro .text-wrapper-16 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 129px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}

.macbook-pro .overlap-4 {
  border-radius: 15px;
  height: 292px;
  left: 1003px;
  position: absolute;
  top: 614px;
  width: 442px;
}

.macbook-pro .frame-8 {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 292px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 442px;
}

.macbook-pro .text-wrapper-17 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.macbook-pro .elegant-lady-dior {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 32px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  top: 79px;
}

.macbook-pro .mdi-minus {
  height: 24px;
  left: 402px;
  position: absolute;
  top: 24px;
  width: 24px;
}

.macbook-pro .text-wrapper-18 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0.56px;
  line-height: normal;
  position: absolute;
  text-align: justify;
  top: 47px;
  width: 126px;
}

.macbook-pro .ps-chat-alt-wrapper {
  background-color: #000000;
  border-radius: 30px;
  height: 60px;
  left: 1385px;
  position: absolute;
  top: 514px;
  width: 60px;
}

.macbook-pro .ps-chat-alt {
  height: 29px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 29px;
}

.macbook-pro .frame-9 {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 25px #0000001a;
  height: 70px;
  left: 1003px;
  overflow: hidden;
  position: absolute;
  top: 946px;
  width: 442px;
}

.macbook-pro .text-wrapper-19 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0.64px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
  white-space: nowrap;
}

.macbook-pro .ic-outline-plus {
  height: 13px;
  left: 402px;
  position: absolute;
  top: 23px;
  width: 24px;
}
